.containerView{


    display: flex;
    flex-direction: column;
    min-width: 85vw;
    max-width: 85vw;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;


    .containerInformationContent{
        display: flex;
        min-width: 85vw;
        min-height: 100vh;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.4);
        overflow: hidden;
    }
 
    
    .descriptionView{
        margin-top: 5vh;
        margin-left: 2vw;
        min-width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        
        label{
            margin-left: 2vw;
            font-size: 2.5rem;
            min-height: 3vh;
            color: #A9625E;
            font-family: "greycliff-cf", sans-serif;
            font-weight: 500;
            font-style: normal;
        }
        p{

            margin-top: 1vh;
            margin-left: 2vw;
            min-height: 5vh;
            max-width: 52vw;
            font-size: 0.9rem;
            color: #3C3C3C;
            font-family: Avenir;
            font-style: oblique;
        }

    }


    .Buttons{
        margin-top: 3vh;
        min-width: 30vw;
        margin-left: 4vw;
    }
}


.Technologies{
    background-image: url('../assets/images/technology/portada.png');
    background-size: 100vw;
    background-position: right;
    background-position-x: -2.5vw;
}
.Facials{
    background-image: url('../assets/images/facials/portada.png');
    background-size: 90vw;
    background-position: right;
    background-position-y: -0vh;
}
.Body{
    background-image: url('../assets/images/body/portada.png');
    background-size: 90vw;
    background-position: right;
    background-position-y: -0vh;
}
.Aesthetic{
    background-image: url('../assets/images/aestethic/portada.png');
    background-size: 90vw;
    background-position: right;
    background-position-y: -0vh;
}
.Plans{
    
}

