.containerHialuronicCuatroNew{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;

    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 50px;
        font-size: 25px;
        min-width: 30px;
        min-height: 30px;

    }
   
    .One{
        margin-top: 30vh;
        margin-left: 19vw;
    }
    .Two{
        margin-top: 40vh;
        margin-left: 13vw;
    }
    .Three{
        margin-top: 38.5vh;
        margin-left: 30vw;
    }
    .Four{        
        margin-top: 46.5vh;
        margin-left: 18.5vw;
    }
    .Five{        
        margin-top: 50vh;
        margin-left: 9.7vw;
    }
    .Six{
        margin-top: 51vh;
        margin-left: 16vw;
    }
    .Seven{
        
        margin-top: 52vh;
        margin-left: 24.7vw;
    }
    .Eight{
        margin-top: 57vh;
        margin-left: 12.5vw;
    }    
    .Nine{        
        margin-top: 56vh;
        margin-left: 17vw;
    }    
    .Ten{
        margin-top: 57vh;
        margin-left: 21vw;
    }
    .Eleven{
        
        margin-top:  59vh;
        margin-left: 26vw;
    }
    .Twelve{
        
        margin-top:  66vh;
        margin-left: 19vw;
    }


    .Active{
        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
       
       div{
            min-width: 25px;
            min-height: 25px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;              
                min-width: 22px;
                min-height: 22px;
                border: 1px solid #00B89E;                
            }
       } 
       
        
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 530px;
        max-width: 530px;
        min-height: 50px;
        margin-top: 70vh;
        margin-left: -2.5vw;
        border-radius: 10px;
        padding-bottom: 0px;
        background-color: rgba(255,255,255,0.8);
      
        display: flex;
        
        .containerText{

            display: flex;
            flex-direction: row;
            min-width: 510px;
            max-width: 510px;
            align-items: center;
            justify-content: space-around;
            padding: 10px;
            .titleDescription{
                min-width: 330px;
                max-width: 330px;
                label{
                    color: #00B89E;
                    min-width: 100%;
                    font-size: 1rem;
                }

                p{
                    min-width: 350px;
                    max-width: 350px;
                    font-size: 0.9rem;
                }
            }
            .IconOne{
                min-width: 130px;
                max-width: 130px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 120px;
                    min-width: 120px;
                }

            }
        }      
    }


    .circleClose{
        margin-left: 40.5vw;
        margin-top: 67.5vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 40px;

    }

}