.containerHialuronicUno{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;

    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 50px;
        font-size: 25px;
        min-width: 30px;
        min-height: 30px;

    }
   
    .One{
        margin-top: 25vh;
        margin-left: 18.5vw;
    }
    .Two{
        margin-top: 28vh;
        margin-left: 10vw;
    }

    .Three{
        margin-top: 35vh;
        margin-left: 28vw;
    }
    .Four{
        margin-top: 41vh;
        margin-left: 10vw;
    }
    .Five{
        margin-top: 43vh;
        margin-left: 27vw;
    }
    .Six{
        margin-top: 46vh;
        margin-left: 13vw;
    }
    .Seven{
        margin-top: 50vh;
        margin-left: 21vw;
    }
    .Eight{
        margin-top: 50vh;
        margin-left: 8vw;
    }    
    .Nine{
        margin-top: 52vh;
        margin-left: 12vw;
    }    
    .Ten{
        margin-top: 55vh;
        margin-left: 18vw;
    }
    .Eleven{
        margin-top:  54.5vh;
        margin-left: 22vw;
    }
    .Twelve{
        margin-top:  51.5vh;
        margin-left: 26vw;
    }
    .Active{
        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
       
       div{
            min-width: 25px;
            min-height: 25px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;              
                min-width: 22px;
                min-height: 22px;
                border: 1px solid #00B89E;                
            }
       } 
       
        
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 450px;
        max-width: 450px;
        min-height: 80px;
        margin-top: 68vh;
        margin-left: 0vw;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.8);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;


        .containerText{
            display: flex;

            flex-direction: row;
            min-width: 430px;
            max-width: 430px;
            justify-content: space-around;
            padding: 10px;
            div{
                min-width: 90px;
                max-width: 120px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 120px;
                    min-width: 120px;
                }
            }
            .titleDescription{
                label{
                    color: #00B89E;
                    min-width: 100%;
                    font-size: 1rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
            .IconTwo{
                img{
                    max-width: 180px;
                    min-width: 180px;
                }

            }
        }        
    }


    .circleClose{
        margin-left: 36.5vw;
        margin-top: 64.5vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 50px;

    }

}