



.containerTreatment{

    min-height: 100vh;

    min-width: 85vw;
    max-width: 854vw;
    overflow-x: hidden;
    .containerArrows{
        margin-top: 5vh;
        margin-left: 5vw;
        min-width: 15vw;
        max-width: 15vw;
        display: flex;
        justify-content: space-between;            
        img{
            max-width: 40px;
        }  
    }
}


.Fondo0{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo0.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}



.Fondo1{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo1.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}

.Fondo2{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo2.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}

.Fondo3{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo3.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}


.Fondo4{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo4.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}

.Fondo5{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo5.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}

.Fondo6{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo6.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}
.Fondo7{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo7.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}
.Fondo8{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo8.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}
.Fondo9{
    border: 1px solid transparent;
    background-image: url('../../../utils/img/treatments/Fondo9.png');
    background-size: 96vw;
    background-position-y: 0vh;
    background-position-x: -14vh;
    background-repeat: no-repeat;
}