.containerEnzimas3{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;

    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 50px;
        font-size: 25px;
        min-width: 30px;
        min-height: 30px;

    }
   
    .One{
        margin-top: 14vh;
        margin-left: 20vw;
    }
    .Two{
        margin-top: 19vh;
        margin-left: 18vw;
    }
    .Three{    
        margin-top: 45vh;
        margin-left: 22vw;
    }
    .Four{
        margin-top: 48vh;
        margin-left: 18vw;
    }
    .Five{                
        margin-top: 68vh;
        margin-left: 24vw;
    }
    .Six{
        margin-top: 75vh;
        margin-left: 15vw;
    }
    .Seven{
        margin-top: 57vh;
        margin-left: 21vw;
    }
   


    .Active{
        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
       
       div{
            min-width: 25px;
            min-height: 25px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;              
                min-width: 22px;
                min-height: 22px;
                border: 1px solid #00B89E;                
            }
       } 
       
        
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 300px;
        max-width: 300px;
        min-height: 20px;
        margin-top: 72vh;
        margin-left: 18vw;
        border-radius: 10px;
        padding-bottom: 10px;
        background-color: rgba(255,255,255,0.8);
        .containerText{
            margin-top: 10px;
            margin-left: 10px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            max-width: 400px;
            .description{
                display: flex;
                flex-direction: column;
                label{
                    min-width: 200px;
                    max-width: 200px;
                    color: #00B89E;
                    font-size: 1rem;
                }
                p{
                    max-width: 220px;
                    color: #6A6A6A;
                    font-size: 0.9rem;
                }
            }                   
            .imgOne{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    min-width: 80px;
                    max-width: 80px;
                }        
                .imgTwo{
                    min-width: 35px;
                    max-width: 35px;
                }    
                .imgThree{
                    min-width: 55px;
                    max-width: 55px;
                }    
            }
            
        }
    }


    .circleClose{
        margin-left: 41.8vw;
        margin-top: 69.5vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 40px;

    }

}