.containerHialuronicTres{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;

    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 60px;
        font-size: 40px;
        min-width: 40px;
        min-height: 40px;

    }
   
    .One{
        margin-top: 25vh;
        margin-left: 18.5vw;
    }
    .Two{
        margin-top: 28vh;
        margin-left: 10vw;
    }
    .Three{
        margin-top: 33vh;
        margin-left: 18.5vw;
    }
    .Four{
        margin-top: 36vh;
        margin-left: 29vw;
    }
    .Five{
        margin-top: 35vh;
        margin-left: 8vw;
    }
    .Six{
        margin-top: 38.5vh;
        margin-left: 24vw;
    }
    .Seven{
        margin-top: 41vh;
        margin-left: 8vw;
    }
    .Eight{
        margin-top: 47vh;
        margin-left: 13vw;
    }    
    .Nine{
        margin-top: 49vh;
        margin-left: 23vw;
    }    
    .Ten{
        margin-top: 52vh;
        margin-left: 27vw;
    }
    .Eleven{
        margin-top:  54vh;
        margin-left: 9vw;
    }
    .Twelve{
        margin-top:  55vh;
        margin-left: 16vw;
    }

    .Therteen{
        margin-top:  57vh;
        margin-left: 20vw;
    }
    .Fourteen{
        margin-top:  65vh;
        margin-left: 18vw;
    }
    .Fiveteen{
        margin-top:  63vh;
        margin-left: 22vw;
    }
    .Active{
        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
       
       div{
            min-width: 30px;
            min-height: 30px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;              
                min-width: 26px;
                min-height: 26px;
                border: 1px solid #00B89E;                
            }
       } 
       
        
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 500px;
        max-width: 500px;
        min-height: 100px;
        margin-top: 70vh;
        margin-left: 0vw;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.5);
        div{
            margin-top: 10px;
            margin-left: 10px;
            max-height: 100px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 400px;
            label{
                min-width: 350px;
                max-width: 350px;
                color: #00B89E;            
            }
            p{
                max-width: 350px;
                color: #6A6A6A;
            }
            div{
                display: flex;
                flex-direction: row;
                img{
                    min-width: 120px;
                    max-width: 120px;
                }
            }
            
        }
    }


    .circleClose{
        z-index: 5;
        margin-left: 36.5vw;
        margin-top: 66.5vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 50px;

    }

}