.containerHialuronicTres{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;

    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 50px;
        font-size: 25px;
        min-width: 30px;
        min-height: 30px;

    }
   
    .One{
        margin-top: 25vh;
        margin-left: 19vw;
    }
    .Two{
        margin-top: 28vh;
        margin-left: 8vw;
    }
    .Three{
        margin-top: 33vh;
        margin-left: 19vw;
    }
    .Four{
        margin-top: 36vh;
        margin-left: 29.5vw;
    }
    .Five{
        margin-top: 35vh;
        margin-left: 8.5vw;
    }
    .Six{
        margin-top: 40vh;
        margin-left: 24.5vw;
    }
    .Seven{
        margin-top: 41vh;
        margin-left: 8vw;
    }
    .Eight{
        margin-top: 48vh;
        margin-left: 13vw;
    }    
    .Nine{
        margin-top: 50vh;
        margin-left: 22.5vw;
    }    
    .Ten{
        margin-top: 53vh;
        margin-left: 27.5vw;
    }
    .Eleven{
        margin-top:  56vh;
        margin-left: 10vw;
    }
    .Twelve{
        margin-top:  56vh;
        margin-left: 16.5vw;
    }

    .Therteen{
        margin-top:  57.5vh;
        margin-left: 21vw;
    }
    .Fourteen{
        margin-top:  66vh;
        margin-left: 19vw;
    }
    .Fiveteen{
        margin-top:  63vh;
        margin-left: 23.5vw;
    }
    .Active{
        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
       
       div{
            min-width: 25px;
            min-height: 25px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;              
                min-width: 22px;
                min-height: 22px;
                border: 1px solid #00B89E;                
            }
       } 
       
        
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 500px;
        max-width: 500px;
        min-height: 50px;
        margin-top: 70vh;
        margin-left: 0vw;
        border-radius: 10px;
        padding-bottom: 0px;
        background-color: rgba(255,255,255,0.8);
      
        


        .containerText{
            display: flex;
            flex-direction: row;
            min-width: 480px;
            max-width: 480px;
            justify-content: space-around;
            padding: 10px;
           
            .titleDescription{
                min-width: 300px;
                max-width: 300px;
                label{
                    color: #00B89E;
                    min-width: 100%;
                    font-size: 1rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
            .IconOne{
                min-width: 130px;
                max-width: 130px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 120px;
                    min-width: 120px;
                }

            }
        }        
    }


    .circleClose{
        margin-left: 40.5vw;
        margin-top: 67.2vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 40px;
    }

}