.containerHialuronicDos{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;

    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 50px;
        font-size: 25px;
        min-width: 30px;
        min-height: 30px;

    }
   
    .One{
        margin-top: 23vh;
        margin-left: 23vw;
    }
    .Two{
        margin-top: 34vh;
        margin-left: 28vw;
    }

    .Three{
        margin-top: 42vh;
        margin-left: 26vw;
    }
    .Four{
        margin-top: 48vh;
        margin-left: 28vw;
    }
    .Five{
        margin-top: 52vh;
        margin-left: 25vw;
    }
    .Six{
        margin-top: 60vh;
        margin-left: 25vw;
    }
    .Active{        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;       
        div{
            min-width: 25px;
            min-height: 25px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;              
                min-width: 22px;
                min-height: 22px;
                border: 1px solid #00B89E;                
            }
        }                
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 450px;
        max-width: 450px;
        min-height: 80px;
        margin-top: 68vh;
        margin-left: 0vw;
        border-radius: 10px;
        padding-bottom: 10px;
        background-color: rgba(255,255,255,0.8);
        div{
            margin-top: 10px;
            margin-left: 10px;
            max-height: 100px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 400px;
            label{
                max-width: 280px;
                color: #00B89E;
                font-size: 1rem;
            }
            p{
                max-width: 280px;
                color: #6A6A6A;
                font-size: 0.9rem;
            }
            div{
                display: flex;
                flex-direction: row;
                img{
                    min-width: 180px;
                    max-width: 180px;
                }
            }
            
        }
    }


    .circleClose{
        margin-left: 36.5vw;
        margin-top: 65.5vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 40px;

    }

}