.containerToxinaDos{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;


    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 60px;
        font-size: 40px;
        min-width: 40px;
        min-height: 40px;
    }
   
    .One{
        margin-top: 4.7vh;
        margin-left: 20.5vw;
    }
    .Two{
        margin-top: 61.5vh;
        margin-left: 14vw;
    }



    .Active{
        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
       
       div{
            min-width: 30px;
            min-height: 30px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;
                border: 1px solid #00B89E;
                min-width: 26px;
                min-height: 26px;                
            }
       } 
       
        
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 180px;
        max-width: 180px;
        min-height: 80px;
        margin-top: 60vh;
        margin-left: 23vw;
        border-radius: 10px;

        background-color: rgba(255,255,255,0.5);
        div{
            margin-top: 10px;
            margin-left: 10px;
            label{
                color: #00B89E;
            }
            p{
                color: #6A6A6A;
            }
        
        }
    }


    .circleClose{
        margin-left: 36.5vw;
        margin-top: 56.5vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 50px;

    }

}