.containerToxinaDos{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;


    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 50px;
        font-size: 25px;
        min-width: 30px;
        min-height: 30px;
    }
   
    .One{
        margin-top: 5.1vh;
        margin-left: 20.9vw;
    }
    .Two{
        margin-top: 62.1vh;
        margin-left: 14.5vw;
    }



    .Active{
        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
       
       div{
            min-width: 25px;
            min-height: 25px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;
                border: 1px solid #00B89E;
                min-width: 26px;
                min-height: 26px;                
            }
       } 
       
        
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 220px;
        max-width: 220px;
        min-height: 80px;
        margin-top: 60vh;
        margin-left: 23vw;
        border-radius: 10px;

        background-color: rgba(255,255,255,0.8);
        padding-bottom: 10px;
        div{
            margin-top: 10px;
            margin-left: 10px;
            label{
                color: #00B89E;
            }
            p{
                color: #6A6A6A;
                font-size: 0.8rem;
            }
        
        }
    }


    .circleClose{
        margin-left: 40vw;
        margin-top: 57.2vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 40px;

    }

}