

.containerFacialsContainer{
    min-width: 90vw;
    min-height: 100vh;
  

    display: flex;
    flex-direction: column;
    

    min-width: 85vw;
    max-width: 85vw;
    overflow-x: hidden;
    .contentFacials{
        min-width: 90vw;
        min-height:95vh;
        max-width: 90vw;
        max-height: 95vh;
        padding-top: 5vh;

        background-image: url('../../../utils/img/facials/back.png');
        background-size: cover;
        background-position-x: -5vw;
        background-position-y: -5vh;
        label{
            margin-left: 5vw;
            font-size: 2.5rem;
            min-height: 5vh;
            color: #A9625E;
            font-family:  "greycliff-cf", sans-serif;
            font-weight: 500;
            font-style: normal;
        }
        p{
            margin-top: 3vh;
            margin-left: 5vw;
            min-height: 5vh;
            max-width: 52vw;
            font-size: 0.9rem;
            color: #3C3C3C;
            font-family: Avenir;
            font-style: oblique;
        }
        nav{
            margin-top: 3vh;
            ul{
                min-width:40vw;
                max-width:40vw;
                list-style: none;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;                
                align-items: flex-start;
                min-height: 70vh;                
                li{
                    margin-top: 10px;
                    border: none;
                    border: 1px solid #FFF;
                    background-color: #FAFAFA;
                    max-width: 25vw;
                    margin-left: 5vw;
                    min-width: 25vw;
                    min-height:  6vh;
                    border-radius: 15px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    div{
                        margin-left: 10px;
                        min-width: 36px;                                                                
                        max-width: 36px;
                        min-height: 36px;
                        max-height: 36px;
                        background-image: url('../../../utils//img/facials/circle.png');
                        background-position: center;
                        background-size: 27px;
                        background-repeat: no-repeat;
                    }
                    label{
                        margin-left: 10px;
                        font-size: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #A9625E;
                        font-style: oblique;
                        font-family: Avenir;
                    }
                }
            }    
        }


    }









    .contentFacialsDetox{
        min-width: 90vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-image: url('../../../utils//img/facials/detox/back1.png');
        background-position: right;
        background-size: 58vw;
        background-repeat: no-repeat;
        background-position-y: 15vh;
        background-position-x: 29vw;
        .hederButtons{
            margin-top: 5vh;
            margin-left: 5vw;
            min-width: 15vw;
            display: flex;
            justify-content: space-between;            
            img{
                max-width: 40px;
            }            
        }
        .containerIcons{
            min-width: 30vw;
            margin-left: 5vw;
            margin-top: 5vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                max-width: 200px;
            }
        }
       .containerScores{
           display: flex;
           flex-direction: row;
           min-width: 30vw;
           margin-top: 5vh;
           margin-left: 5vw;
            .Score{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                label{
                }
                div{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    .price{
                        font-size: 1.5rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        color: #A9625E;
                        font-family: greycliff-cf;
                        font-weight: 500;
                        p{
                            font-size: 1.6rem;
                        }
                    }
                    .stars{
                        margin-left: 10px;
                        img{
                            max-width: 25px;
                        }
                    }
                    .time{
                        margin-left: 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        font-family: Avenir;
                        color: #70706F;
                        font-size: 1.2rem;
                        font-style: oblique;
                    }
                }
            }
       }  
       .containerParagraph{
            max-width: 24vw;
            margin-top: 5vh;
            margin-left: 5vw;
            color: #3C3C3C;
            font-size: 1rem;
            font-family: Avenir;
       }       
       .containerDescriptions{
           margin-top: 5vh;
           padding-left: 5vw;
           padding-top: 6vh;
           max-width: 37vw;        
           list-style: none;
           background-image: url('../../../utils/img/fondoLista.png');
           background-size: 35vw;
           background-position-x: -2vw;
           background-repeat: no-repeat;
           color: #7E7C7C;
           ul{
               list-style: none;
               color: #7E7C7C;
               li{
                   margin-top: 5px;
                   display: flex;
                   justify-content: flex-start;
                   align-items: flex-start;
                    div{
                        min-width: 6px;
                        min-height: 6px;
                        max-width: 6px;
                        max-height: 6px;
                        border-radius: 3px;
                        background-color: #7E7C7C;
                        margin-right: 5px;
                        margin-top: 8px;                        
                    }
                    p{
                        font-size: 1rem;
                    }
               }
           }
       }
    }








   


    .contentFacialsHydratance{
        min-width: 90vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-image: url('../../../utils//img/facials/hydratance/background.png');
        background-position: right;
        background-size: 58vw;
        background-repeat: no-repeat;
        background-position-y: 15vh;
        background-position-x: 29vw;
        .hederButtons{
            margin-top: 5vh;
            margin-left: 5vw;
            min-width: 15vw;
            display: flex;
            justify-content: space-between;            
            img{
                max-width: 40px;
            }            
        }
        .containerIcons{
            min-width: 30vw;
            margin-left: 5vw;
            margin-top: 8vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                max-width: 200px;
            }
        }
       .containerScores{
           display: flex;
           flex-direction: row;
           min-width: 30vw;
           margin-top: 3vh;
           margin-left: 5vw;
            .Score{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                label{
                }
                div{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    .price{
                        font-size: 1.5rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        color: #A9625E;
                        font-family: greycliff-cf;
                        font-weight: 500;
                        p{
                            font-size: 1.6rem;
                        }
                    }
                    .stars{
                        margin-left: 10px;
                        img{
                            max-width: 25px;
                        }
                    }
                    .time{
                        margin-left: 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        font-family: Avenir;
                        color: #70706F;
                        font-size: 1.2rem;
                        font-style: oblique;
                    }
                }
            }
       }  
       .containerParagraph{
            max-width: 24vw;
            margin-top: 3vh;
            margin-left: 5vw;
            color: #3C3C3C;
            font-size: 1rem;
            font-family: Avenir;
       }       
       .containerDescriptions{
           margin-top: 5vh;
           padding-left: 5vw;
           padding-top: 6vh;
           max-width: 37vw;        
           list-style: none;
           background-image: url('../../../utils/img/fondoLista.png');
           background-size: 35vw;
           background-position-x: -2vw;
           background-repeat: no-repeat;
           color: #7E7C7C;
           ul{
               list-style: none;
               color: #7E7C7C;
               li{
                   margin-top: 5px;
                   display: flex;
                   justify-content: flex-start;
                   align-items: flex-start;
                    div{
                        min-width: 6px;
                        min-height: 6px;
                        max-width: 6px;
                        max-height: 6px;
                        border-radius: 3px;
                        background-color: #7E7C7C;
                        margin-right: 5px;
                        margin-top: 8px;                        
                    }
                    p{
                        font-size: 1rem;
                    }
               }
           }
       }
    }



















    .contentFacialsLifting{
        min-width: 90vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-image: url('../../../utils//img/facials/lifting/background.png');
        background-position: right;
        background-size: 58vw;
        background-repeat: no-repeat;
        background-position-y: 15vh;
        background-position-x: 29vw;
        .hederButtons{
            margin-top: 5vh;
            margin-left: 5vw;
            min-width: 15vw;
            display: flex;
            justify-content: space-between;            
            img{
                max-width: 40px;
            }            
        }
        .containerIcons{
            min-width: 30vw;
            margin-left: 5vw;
            margin-top: 8vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                max-width: 200px;
            }
        }
       .containerScores{
           display: flex;
           flex-direction: row;
           min-width: 30vw;
           margin-top: 3vh;
           margin-left: 5vw;
            .Score{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                label{
                }
                div{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    .price{
                        font-size: 1.5rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        color: #A9625E;
                        font-family: greycliff-cf;
                        font-weight: 500;
                        p{
                            font-size: 1.6rem;
                        }
                    }
                    .stars{
                        margin-left: 10px;
                        img{
                            max-width: 25px;
                        }
                    }
                    .time{
                        margin-left: 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        font-family: Avenir;
                        color: #70706F;
                        font-size: 1.2rem;
                        font-style: oblique;
                    }
                }
            }
       }  
       .containerParagraph{
            max-width: 24vw;
            margin-top: 3vh;
            margin-left: 5vw;
            color: #3C3C3C;
            font-size: 1rem;
            font-family: Avenir;
       }       
       .containerDescriptions{
           margin-top: 5vh;
           padding-left: 5vw;
           padding-top: 6vh;
           max-width: 37vw;        
           list-style: none;
           background-image: url('../../../utils/img/fondoLista.png');
           background-size: 35vw;
           background-position-x: -2vw;
           background-repeat: no-repeat;
           color: #7E7C7C;
           ul{
               list-style: none;
               color: #7E7C7C;
               li{
                   margin-top: 5px;
                   display: flex;
                   justify-content: flex-start;
                   align-items: flex-start;
                    div{
                        min-width: 6px;
                        min-height: 6px;
                        max-width: 6px;
                        max-height: 6px;
                        border-radius: 3px;
                        background-color: #7E7C7C;
                        margin-right: 5px;
                        margin-top: 8px;                        
                    }
                    p{
                        font-size: 1rem;
                    }
               }
           }
       }
    }

























    .contentFacialsPetaPeel{
        min-width: 90vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-image: url('../../../utils//img/facials/petapeel/background.png');
        background-position: right;
        background-size: 58vw;
        background-repeat: no-repeat;
        background-position-y: 15vh;
        background-position-x: 29vw;
        .hederButtons{
            margin-top: 5vh;
            margin-left: 5vw;
            min-width: 15vw;
            display: flex;
            justify-content: space-between;            
            img{
                max-width: 40px;
            }            
        }
        .containerIcons{
            min-width: 30vw;
            margin-left: 5vw;
            margin-top: 8vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                max-width: 200px;
            }
        }
       .containerScores{
           display: flex;
           flex-direction: row;
           min-width: 30vw;
           margin-top: 3vh;
           margin-left: 5vw;
            .Score{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                label{
                }
                div{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    .price{
                        font-size: 1.5rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        color: #A9625E;
                        font-family: greycliff-cf;
                        font-weight: 500;
                        p{
                            font-size: 1.6rem;
                        }
                    }
                    .stars{
                        margin-left: 10px;
                        img{
                            max-width: 25px;
                        }
                    }
                    .time{
                        margin-left: 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        font-family: Avenir;
                        color: #70706F;
                        font-size: 1.2rem;
                        font-style: oblique;
                    }
                }
            }
       }  
       .containerParagraph{
            max-width: 24vw;
            margin-top: 3vh;
            margin-left: 5vw;
            color: #3C3C3C;
            font-size: 1rem;
            font-family: Avenir;
       }       
       .containerDescriptions{
           margin-top: 5vh;
           padding-left: 5vw;
           padding-top: 6vh;
           max-width: 37vw;        
           list-style: none;
           background-image: url('../../../utils/img/fondoLista.png');
           background-size: 35vw;
           background-position-x: -2vw;
           background-repeat: no-repeat;
           color: #7E7C7C;
           ul{
               list-style: none;
               color: #7E7C7C;
               li{
                   margin-top: 5px;
                   display: flex;
                   justify-content: flex-start;
                   align-items: flex-start;
                    div{
                        min-width: 6px;
                        min-height: 6px;
                        max-width: 6px;
                        max-height: 6px;
                        border-radius: 3px;
                        background-color: #7E7C7C;
                        margin-right: 5px;
                        margin-top: 8px;                        
                    }
                    p{
                        font-size: 1rem;
                    }
               }
           }
       }
    }

















    .contentFacialsNefertari{
        min-width: 90vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-image: url('../../../utils//img/facials/nefertari/background.png');
        background-position: right;
        background-size: 58vw;
        background-repeat: no-repeat;
        background-position-y: 15vh;
        background-position-x: 29vw;
        .hederButtons{
            margin-top: 5vh;
            margin-left: 5vw;
            min-width: 15vw;
            display: flex;
            justify-content: space-between;            
            img{
                max-width: 40px;
            }            
        }
        .containerIcons{
            min-width: 30vw;
            margin-left: 5vw;
            margin-top: 8vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                max-width: 200px;
            }
        }
       .containerScores{
           display: flex;
           flex-direction: row;
           min-width: 30vw;
           margin-top: 3vh;
           margin-left: 5vw;
            .Score{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                label{
                }
                div{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    .price{
                        font-size: 1.2rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        color: #CBAC45;
                        font-family: greycliff-cf;
                        font-weight: 500;
                        p{
                            font-size: 1.2rem;
                        }
                    }
                    .stars{
                        margin-left: 10px;
                        img{
                            max-width: 25px;
                        }
                    }
                    .time{
                        margin-left: 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        font-family: Avenir;
                        color: #70706F;
                        font-size: 1.2rem;
                        font-style: oblique;
                    }
                }
            }
       }  
       .containerParagraph{
            max-width: 24vw;
            margin-top: 3vh;
            margin-left: 5vw;
            color: #3C3C3C;
            font-size: 1rem;
            font-family: Avenir;
       }       
       .containerDescriptions{
           margin-top: 5vh;
           padding-left: 5vw;
           padding-top: 0vh;
           max-width: 25vw;        
           list-style: none;
           background-image: url('../../../utils/img/facials/nefertari/FondoLinea.png');
           background-size: 2.5vw;
           background-position-x: 0vw;
           background-repeat: no-repeat;
           color: #7E7C7C;
           ul{
               list-style: none;
               color: #7E7C7C;
               li{
                   margin-top: 5px;
                   display: flex;
                   justify-content: flex-start;
                   align-items: flex-start;
                    div{
                        min-width: 6px;
                        min-height: 6px;
                        max-width: 6px;
                        max-height: 6px;
                        border-radius: 3px;
                        background-color: #7E7C7C;
                        margin-right: 5px;
                        margin-top: 8px;                        
                    }
                    p{
                        font-size: 1rem;
                    }
               }
           }
       }
    }








}






