.containerToxinauno{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;


    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 50px;
        font-size: 25px;
        min-width: 30px;
        min-height: 30px;
    }
   
    .One{
        margin-top: 25vh;
        margin-left: 17.7vw;
    }
    .Two{
        margin-top: 33vh;
        margin-left: 17.7vw;
    }

    .Three{
        margin-top: 31.5vh;
        margin-left: 9.5vw;
    }
    .Four{
        margin-top: 37.5vh;
        margin-left: 27.5vw;
    }
    .Five{
        margin-top: 46vh;
        margin-left: 17.5vw;
    }
    .Six{
        margin-top: 48vh;
        margin-left: 12vw;
    }
    .Seven{
        margin-top: 51.8vh;
        margin-left: 21vw;
    }
    
    .Eight{
        margin-top: 53vh;
        margin-left: 17.5vw;
    }
    
    .Nine{
        margin-top: 54.5vh;
        margin-left: 14vw;
    }
    
    .Ten{
        margin-top: 64.5vh;
        margin-left: 17.5vw;
    }

    .Eleven{
        margin-top:  73.5vh;
        margin-left: 17.5vw;
    }


    .Active{
        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
       
       div{
            min-width: 25px;
            min-height: 25px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;              
                min-width: 22px;
                min-height: 22px;
                border: 1px solid #00B89E;                
            }
       } 
       
        
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 220px;
        max-width: 220px;
        min-height: 20px;                
        margin-top: 70vh;
        margin-left: 21.5vw;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.8);
        padding-bottom: 10px;
        padding-right: 5px;
        div{
            margin-top: 10px;
            margin-left: 10px;
            label{
                color: #00B89E;
                font-size: 0.9rem;
            }
            p{
                color: #6A6A6A;
                font-size: 0.8rem;
            }
        
        }
    }


    .circleClose{
        margin-left: 39vw;
        margin-top: 67.3vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 40px;

    }

}