body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}









@font-face {
  font-family: 'GreyclifReg';
  font-style: normal;
  font-weight: 400;
  src:
    local("GreyclifReg"),
    url("./components/utils/fonts/Demo_Fonts/greycliffcf-medium.otf") format("otf");
   
}


@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src:
    local("Avenir"),
    url("./components/utils/fonts/Demo_Fonts/AvenirNextLTPro-Regular.otf") format("otf");
   
}










code {
  font-family: greycliff-cf,GreyclifReg, Avenir , source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
