.containerEnzimas1{
    min-width: 40vw;
    max-width: 40vw;

    min-height: 80vh;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    flex-wrap: nowrap;

    .circle{
        position: absolute;
        background-image: url('../../../../utils/img/aesthetic/toxina/CirculoFondo.png');
        background-position: center;
        background-size: 50px;
        font-size: 25px;
        min-width: 30px;
        min-height: 30px;

    }
   
    .One{
        margin-top: 41vh;
        margin-left: 13vw;
    }
    .Two{
        margin-top: 50vh;
        margin-left: 28vw;
    }
    .Three{
        margin-top: 59vh;
        margin-left: 11.5vw;
    }
    .Four{
        margin-top: 66vh;
        margin-left: 19vw;
    }


    .Active{
        
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
       
       div{
            min-width: 25px;
            min-height: 25px;
            border: 1px solid #00B89E;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                border-radius: 15px;              
                min-width: 22px;
                min-height: 22px;
                border: 1px solid #00B89E;                
            }
       } 
       
        
    }

    .text{
        border: 1px solid #00B89E;
        position: absolute;
        min-width: 200px;
        max-width: 200px;
        min-height: 20px;
        margin-top: 70vh;
        margin-left: 25vw;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.8);
        div{
            margin-top: 10px;
            margin-left: 10px;
            max-height: 100px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 400px;
            label{
                max-width: 160px;
                color: #00B89E;
            }
            p{
                max-width: 160px;
                color: #6A6A6A;
            }
            div{
                display: flex;
                flex-direction: row;
                img{
                    min-width: 120px;
                    max-width: 120px;
                }
            }
            
        }
    }


    .circleClose{
        margin-left: 40.5vw;
        margin-top: 67vh;
        position: absolute;
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        
        background-image: url('../../../../utils/img/aesthetic/toxina/circleClose.png');
        background-size: 40px;

    }

}